#### Novo Exercicio

In [2]:
import pandas as pd

In [8]:
df_teste = pd.read_csv('/home/jean/Documents/Analise-de-Dados/Analise-de-Dados/df/aug_test.csv')
df_teste.shape
df_teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78273 entries, 0 to 78272
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    78273 non-null  int64
 1   Gender                78273 non-null  object
 2   Age                   78273 non-null  int64
 3   Driving_License       78273 non-null  int64
 4   Region_Code           78273 non-null  float64
 5   Previously_Insured    78273 non-null  int64
 6   Vehicle_Age           78273 non-null  object
 7   Vehicle_Damage        78273 non-null  object
 8   Annual_Premium        78273 non-null  float64
 9   Policy_Sales_Channel  78273 non-null  float64
 10  Vintage               78273 non-null  int64
dtypes: float64(3), int64(5), object(3)
memory usage: 6.6+ MB

In [7]:
df_train = pd.read_csv('/home/jean/Documents/Analise-de-Dados/Analise-de-Dados/df/aug_train.csv')
df_train.shape
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382154 entries, 0 to 382153
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    382154 non-null  int64
 1   Gender                382154 non-null  object
 2   Age                   382154 non-null  int64
 3   Driving_License       382154 non-null  int64
 4   Region_Code           382154 non-null  float64
 5   Previously_Insured    382154 non-null  int64
 6   Vehicle_Age           382154 non-null  object
 7   Vehicle_Damage        382154 non-null  object
 8   Annual_Premium        382154 non-null  float64
 9   Policy_Sales_Channel  382154 non-null  float64
 10  Vintage               382154 non-null  int64
 11  Response              382154 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 35.0+ MB

In [11]:
df_teste['Response'] = 2
df_full =[df_teste, df_train]
pd.concat(df_full)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,57782,Female,34,1,39.0,1,1-2 Year,No,38244.0,124.0,146,2
1,286811,Female,55,1,28.0,0,> 2 Years,Yes,37577.0,122.0,109,2
2,117823,Male,39,1,28.0,1,1-2 Year,No,24578.0,26.0,63,2
3,213992,Male,28,1,50.0,1,1-2 Year,No,40507.0,8.0,129,2
4,324756,Female,24,1,10.0,0,< 1 Year,Yes,36783.0,152.0,201,2
...,...,...,...,...,...,...,...,...,...,...,...,...
382149,164549,Male,24,1,15.0,0,< 1 Year,Yes,23938.0,152.0,105,0
382150,247064,Male,27,1,28.0,1,< 1 Year,No,336395.0,152.0,144,0
382151,165293,Male,45,1,28.0,0,1-2 Year,Yes,40443.0,26.0,187,0
382152,383241,Female,28,1,28.0,1,< 1 Year,No,25380.0,152.0,208,0
382153,401019,Female,29,1,18.0,1,< 1 Year,No,30396.0,152.0,104,0